<div class="haWrapperVert haFullScreen">
	<div class="haWrappedCell">
		<div class="haWrapperHoriz">
			<div id="lcarsFloors" class="haWrappedCell">
		    	<lcars-panel class="lcarsThemePrimary" left-menu="deviceTypes"
			    	title="location.name" title-click="toggleMenu()" title-symbol="'fa fa-bars'">
					<div class="haTableLayout">
						<div class="haRow">
							<imagemap class="haCell" ng-repeat="map in imageMaps" map-layout="map"
								all-devices="devices" group-click="test(group)"></imagemap>
						</div>
					</div>
				</lcars-panel>
			</div>
			<div id="lcarsData" class="haWrappedCell">
		    	<lcars-panel class="lcarsThemeDatabase" >
					History
					<!--<div class="haTableLayout">
						<div class="haRow">
							<imagemap class="haCell" ng-repeat="config in imageMaps" config="config" all-devices="devices"></imagemap>
						</div>
					</div>-->
				</lcars-panel>
			</div>
		</div>
	</div>
	<div id="lcarsMenu" class="haWrappedCell" ng-show="showMenu">
		<lcars-panel class="lcarsThemeAncillary"
			title="'Nav Menu'" title-click="toggleMenu()" title-symbol="'fa fa-close'">
			<mainmenu></mainmenu>
			<ul >
				<li ng-repeat="(id, name) in locations"><a ng-href="#/lcars/{{id | encodeURIComponent}}">{{name}}</a></li>
			</ul>
		</lcars-panel>
	</div>
</div>


<!--
Color schemes and other ideas from
* http://www.lcarscom.net/faq.htm
* http://www.lcarsdeveloper.com/

Font:
http://www.fonts.com/font/bitstream/swiss-911/ultra-compressed/web-font

Icons:
http://www.entypo.com/
http://fontawesome.io/icons/
https://erikflowers.github.io/weather-icons/

Layout?
http://lorenzofox3.github.io/flexy-layout/src/index.html

-->