$mainBlackColor: black;
$mainTextColor: Linen;

/* REMINDER: Don't edit the .css, edit the .scss */
body {
  background: $mainBlackColor;
  color: $mainTextColor;
}

/* LCARS Themes */
$themes: ((
  class: lcarsThemePrimary,
  elboBackColor: #ffc464,
  elboTextColor: $mainBlackColor,
  titleBackColor: $mainBlackColor,
  titleTextColor: #ff9900,
  contentBackColor: $mainBlackColor,
  contentTextColor: #ffc464,
), (
  class: lcarsThemeSecondary,
  elboBackColor: #b1957a,
  elboTextColor: $mainBlackColor,
  titleBackColor: $mainBlackColor,
  titleTextColor: #ffcc00,
  contentBackColor: $mainBlackColor,
  contentTextColor: #b1957a,
), (
  class: lcarsThemeAncillary,
  elboBackColor: #f1b1af,
  elboTextColor: $mainBlackColor,
  titleBackColor: $mainBlackColor,
  titleTextColor: #ff9900,
  contentBackColor: $mainBlackColor,
  contentTextColor: #f1b1af,
), (
  class: lcarsThemeDatabase,
  elboBackColor: #cc6666,
  elboTextColor: $mainBlackColor,
  titleBackColor: $mainBlackColor,
  titleTextColor: #ff9900,
  contentBackColor: $mainBlackColor,
  contentTextColor: #cc6666,
));

@each $theme in $themes {
  .#{map-get($theme, class)} {
    .lcarsPanel {
      background-color: map-get($theme, contentBackColor);
      color: map-get($theme, contentTextColor);
    }

    .lcarsHeader,
    .lcarsLeft,
    .lcarsFooter,
    .lcarsBody .lcarsLeft:before {
      background-color: map-get($theme, elboBackColor);
      color: map-get($theme, elboTextColor);
    }

    .lcarsTitle {
      background-color: map-get($theme, titleBackColor);
      color: map-get($theme, titleTextColor);
    }

    .lcarsActive:before {
      background-color: map-get($theme, elboBackColor);
      color: map-get($theme, elboTextColor);
    }

    .lcarsBody .lcarsCenter {
      background-color: map-get($theme, contentBackColor);
      color: map-get($theme, contentTextColor);
    }
  }
}

/* LCARS Common */

.lcarsPanel {
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 6em 0 0 0;
  font-family: 'Oswald', Impact, Charcoal, sans-serif;
  box-sizing: border-box;
  padding: 5px;
}

.lcarsHeader,
.lcarsBody,
.lcarsFooter {
  display: table-row;
}

.lcarsLeft,
.lcarsCenter,
.lcarsRight {
  display: table-cell;
  vertical-align: top;
}

.lcarsLeft {
  width: 10em;
  max-width: 10em;
}

.lcarsHeader {
  .lcarsLeft {
    border-radius: 1000px 0 0 0;
  }
  .lcarsCenter {
    border-radius: 0 1000px 1000px 0;
    padding-left: 3em;
  }
  .lcarsMenuIcon {
    float: right;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
    margin-left: -2em;
  }
  .lcarsTitle {
    float: right;
    margin-right: 2em;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
  }
}

.lcarsBody {
  .lcarsLeft {
    ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 2em 0 0 0;
      padding: 0;
      li:first-of-type {
        border-top: 2px solid $mainBlackColor;
      }
      li {
        border-bottom: 2px solid $mainBlackColor;
        padding: 0 .25em 0 .25em;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .lcarsLeft:before {
    /* Inner rounded corner for .lcarsCenter */
    content: " ";
    display: block;
    position: relative;
    top: 0;
    left: 3em;
    width: 3em;
    height: 3em;
    z-index: -1;
    float: right;
  }
  .lcarsCenter {
    background-color: $mainBlackColor;
    border-radius: 3em 0 0 0;
    height: 100%;
    max-height: 100%;
    padding: .25em 1.75em;
    overflow: hidden;
  }
}
.lcarsFooter {
  .lcarsLeft {}
  .lcarsCenter {
    background-color: $mainBlackColor;
  }
}

.lcarsActive:before {
  /* bubble for left menu */
  border-radius: 0 1000px 1000px 0;
  content: "\00a0"; /* whitespace */
  display: block;
  position: relative;
  top: 0;
  left: 1.35em;
  width: 1em;
  float: right;
  z-index: 9;
}

.shrinkForMenu {
  width: calc(100% - 21em);
}


/* override default menu formatting */
.menu {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}
.menu > li:first-of-type {
  border-left: 2px solid black;
}
.menu > li {
  border-right: 2px solid black;
  padding: 0 .25em 0 .25em;
}
.menu > li:before {
  content: "";
  padding: 0;
}

.clickable {
  cursor: pointer;
}

/* floor (upper) panel */

#lcarsFloors {
  height: 66%;
  max-height: 66%;
}
#lcarsFloors {
  padding-bottom: 0;
}
// #lcarsFloors .haImageMap {
//   color: blue;
// }
#lcarsFloors .lcarsFooter {
  display: none;
}

/* history (lower) panel */
#lcarsHistory {
  height: 33%;
}

#lcarsMenu {
  width: 20em;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 1em;

  .lcarsLeft {
    width: 1em;
    max-width: 1em;
  }
}