<p class="status good" ng-show="loggedIn">Hello! You are logged in with id {{user.uid}}.</p>
<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>

<h1>Samples</h1>
<h2>Parameters</h2>
<p>{{debugInfo | stringify}}</p>

<h1>Locations</h1>
<ul>
	<li ng-repeat="(id, name) in locations"><a ng-href="#/home/{{id | encodeURIComponent}}">{{name}}</a></li>
</ul>

<div ng-show="location">
	<h1>{{location.name}}</h1>
	<h2>Devices</h2>
	<ul>
		<li ng-repeat="(key, device) in location.current">
			<device key="key" device="device">
			 	<a ng-href="#/home/{{locationId | encodeURIComponent}}/{{key | encodeURIComponent}}">Select</a> &rarr;
			 </device>
		</li>
	</ul>
</div>

<div ng-show="deviceHistory">
	<h2>History</h2>
	<ol>
		<li ng-repeat="(time, value) in deviceHistory | orderBy: time">{{time | amDateFormat: 'MM/DD HH:mm'}}: {{value}}</li>
	</ol>
</div>



