<div class="haDevice" data-key="{{key}}" data-deviceId="{{deviceId}}" data-deviceType="{{deviceType}}" data-value="{{value}}">
	<span class="haDeviceName">{{name}}</span>
	<span class="haDeviceType">{{deviceType}}</span>
	<span class="haDeviceValue">{{value}}</span>
	<span class="haDeviceUnit">{{unit}}</span>
	<span class="haDeviceUpdated date">{{updated | amDateFormat:'MM/DD'}}</span>
	<span class="haDeviceUpdated time">{{updated | amDateFormat:'HH:mm'}}</span>
	<ng-transclude></ng-transclude>
</div>