<div class="haImageMap" ng-style="{'background-image': 'url('+config.background+')'}" scale-to-background="width" >
    <div class="haImageMapTile" ng-repeat="tile in config.tiles" ng-style="getTilePosition(tile)">
    	<device ng-repeat="device in allDevices | filterByKeys:tile.devices" class="haMiniDeviceTile" key="device.deviceKey" device="device" ></device>
    </div>
</div>
<!-- write a directive to
* get the image dimentions
* compute the ratio
* reset the div width

http://stackoverflow.com/a/9576385
-->